<section id="footer">
  <div class="container">
    <ul class="copyright">
      <li>  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} </li>
    </ul>
  </div>
</section>


<script src="/assets/javascripts/jquery.min.js"></script>
<script src="/assets/javascripts/jquery.scrollex.min.js"></script>
<script src="/assets/javascripts/jquery.scrolly.min.js"></script>
<script src="/assets/javascripts/browser.min.js"></script>
<script src="/assets/javascripts/breakpoints.min.js"></script>
<script src="/assets/javascripts/util.js"></script>
<script src="/assets/javascripts/main.js"></script>
