<article>
  <a href="/projects/lessoneer" class="image"><img src="/assets/images/lessoneer.png" alt="" /></a>
  <div class="inner">
    <h4>Lessoneer</h4>
    <p>An online curriculum management software platform called Lessoneer that is used by K- 12 school districts to build, access, and share math, language arts, and science curricula.</p>
    <a href='/projects/lessoneer'>Read More</a>
  </div>
</article>
<article>
  <a href="/projects/resourcify" class="image"><img src="/assets/images/resourcify.png" alt="" /></a>
  <div class="inner">
    <h4>Resourcify</h4>
    <p>A Chrome Extension and web utility, to help teachers find resources for curriculum across multiple content portals</p>
    <a href='/projects/resourcify'>Read More</a>
  </div>
</article>
<article>
  <a href="/projects/splitr" class="image"><img src="/assets/images/splitr.png" alt="" /></a>
  <div class="inner">
    <h4>Splitr</h4>
    <p>An education focused PDF splitter, with intelligent recommendations for sub-documents.</p>
    <a href='/projects/splitr'>Read More</a>
  </div>
</article>
<article>
  <a href="/projects/classroomify" class="image"><img src="/assets/images/classroomify.png" alt="" /></a>
  <div class="inner">
    <h4>Classroomify</h4>
    <p>A Google Classroom interface, built for a range of products, and architected with the ability to be sold as a SaaS</p>
    <a href='/projects/classroomify'>Read More</a>
  </div>
</article>
