<article>
  <a href="https://lessoneer.com" class="image"><img src="/assets/images/lessoneer.png" alt="" /></a>
  <div class="inner">
    <h4>Lessoneer</h4>
    <p>
      An online curriculum management software platform called Lessoneer that
      is used by K- 12 school districts to build, access, and share math,
      language arts, and science curricula.
    </p>
    <p>
      Helping 1000's of teachers every day, Lessoner accomplishes this using Ruby on Rails
      for a backend, and React for our complex front-end interactions. Using CircleCI
      for Continous Integration, and practicing Contious Delivery on our AWS infrastructure.
      We deliver a constantly improving system, to help our teachres save time.
    </p>
  </div>
</article>
<article>
  <a href="https://resourcify.lessoneer.com" class="image"><img src="/assets/images/resourcify.png" alt="" /></a>
  <div class="inner">
    <h4>Resourcify</h4>
    <p>
      There are a number of freely avilable curriculum that teachers use. However, these
      curriculum are hosted in a few different places across the web. There are some great
      lists of supplemental resources, but they aren't available on any of the sites.
    </p>
    <p>
      This is where Resourcify steps in. We built a content-aware Chrome Extension,
      that asks a lightning fast Ruby on Rails API if there are any known resources
      for the page the teacher is currently looking at. With over 2,000 active users
      Resroucify helps teachres find the resrouces they need.
    </p>
  </div>
</article>
<article>
  <a href="https://splitr.io" class="image"><img src="/assets/images/splitr.png" alt="" /></a>
  <div class="inner">
    <h4>Splitr</h4>
    <p>
      Often in the education space, freely available curriculum can be found in PDF format.
      However, these PDFs can be hundreds of pages long, with the teacher needing to
      print, or digitally hand out a single page. While there are utilities for breaking up
      a PDF, we wanted one that was education focused, and could suggest pages
      for things like "Chapter 7 Homework"
    </p>
    <p>
      Utilizing PDFtk to manipulate PDFs, Splitr uses React, Ruby on Rails, and
      PDF.js to help teachres quickly find the documents they need. With a database
      of documents-within-documents available to them, Splitr helps teachres find
      the document they need, and even allow them to share it to Google Classroom.
    </p>
  </div>
</article>
<article>
  <a href="https://classroomify.lessoneer.com" class="image"><img src="/assets/images/classroomify.png" alt="" /></a>
  <div class="inner">
    <h4>Classroomify</h4>
    <p>
      Classroomify was born out of an internal requirement. We had added Google's own
      <code>Add to Google Classroom</code> button to our product. But our user's weren't
      happy with the way Google had implemented it. User's wanted a way to create an assignment,
      share it to their class, or
    </p>
    <p>
      Classroomify was built to not only fill the gaps in Google's <code>Add to Classroom</code>
      button, but it was also built with other developers in mind. Believing that we 
      weren't the only Ed-Tech startup interested in this fucntionality, Classroomify
      was architected in a way that would allow it to be offered as a SaaS product.
    </p>
  </div>
</article>
