<article>
  <a href="https://supportersbar.com" class="image"><img src="/assets/images/supporters-bar.png" alt="" /></a>
  <div class="inner">
    <h4>Supporter's Bar</h4>
    <p>
      Often in the Timbers' and MLS communities, someone (myself included) is
      looking for a place to watch the game away from home, with other fans. There
      are a few scattered data sets out there, Supporter's Bar is intended to be
      a one stop shop for finding a great place to watch the game.
    </p>
    <p>
      Supporter's Bar was my first interaction using MapBox, Leaflet.js, and PostgreSQLs PostGIS.
      The combination of these tools allowed me to rapidly develop a system,
      that given the proper data could become the "Yelp" of finding a sports bar.
    </p>
  </div>
</article>
<article>
  <a href="https://maptribution.com" class="image"><img src="/assets/images/maptribution.png" alt="" /></a>
  <div class="inner">
    <h4>Maptribution</h4>
    <p>
      Maptribution was built out of a desire to not only save a bit of money, but
      also build a system that fit our usecase a bit more. I had experience using
      another applicaiton that was similar for a Shopify store, but it felt like it
      was lacking in some places. So I built an application that I felt addressed
      their shortcomings.
    </p>
    <p>
      Using lessons learned from Supporter's Bar, I was able to make Maptribution
      update in real time, so that the users can easily search where they want to
      find your products.
    </p>
  </div>
</article>
