<article>
  <a href="/projects/maptribution" class="image"><img src="/assets/images/maptribution.png" alt="" /></a>
  <div class="inner">
    <h4>Maptribution</h4>
    <p>
      I built Maptribution to replace a Shopify app that wasn't quite doing
      what I wanted on a Shopify store I built. I used this project to learn
      how to integrate Shopify billing into a project.
    </p>
    <a href='/projects/maptribution'>Read More</a>
  </div>
</article>
<article>
  <a href="/projects/maptribution" class="image"><img src="/assets/images/supporters-bar.png" alt="" /></a>
  <div class="inner">
    <h4>Supporter's Bar</h4>
    <p>
      Often in the Timbers' and MLS communities, someone (myself included) is
      looking for a place to watch the game away from home, with other fans. There
      are a few scattered data sets out there, Supporter's Bar is intended to be
      a one stop shop for finding a great place to watch the game.
    </p>
    <a href='/projects/supporters-bar'>Read More</a>
  </div>
</article>
