---
layout: default
---

<!-- Main -->
<div id="main">


  <!-- Two -->
  <section id="two">
    <div class="container">
      <h3>Expertise</h3>
      <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer lorem ipsum dolor sit amet.</p>
      <ul class="feature-icons">
        <li class="icon solid fa-code">Comfortable and Proficient working on the full-stack</li>
        <li class="icon solid fa-cubes">7 years experience solving problems with Ruby on Rails</li>
        <li class="icon solid fa-book">Cras augue cep vitae</li>
        <li class="icon solid fa-arrow-up">Built and deployed systems to AWS and other Cloud Providors</li>
        <li class="icon solid fa-users">Solve problems in ways that create happy users</li>
        <li class="icon solid fa-coffee">Makes a mean pot of coffee</li>
      </ul>
    </div>
  </section>

  <!-- Three -->
  <section id="projects">
    <div class="container">
      <h3>Projects</h3>
      <p>Projects I've been a part of</p>
      <div class="features">
        {% include projects.html %}
      </div>
    </div>
  </section>

  <section id="side-projects">
    <div class="container">
      <h3>Side Projects</h3>
      <p>Some things I've thrown together in my spare time</p>
      <div class="features">
        {% include side_projects.html %}
      </div>
    </div>
  </section>

  <!-- Four -->
  <section id="four">
    <div class="container">
      <h3>Contact Me</h3>
      <p>Let's chat! Find me on any of the social networks to the right, or use the form below to send me a quick note!</p>
      <form method="post" netlify>
        <div class="row gtr-uniform">
          <div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
          <div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
          <div class="col-12"><input type="text" name="subject" id="subject" placeholder="Subject" /></div>
          <div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
          <div class="col-12">
            <ul class="actions">
              <li><input type="submit" class="primary" value="Send Message" /></li>
              <li><input type="reset" value="Reset Form" /></li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
