// Customize the colors of Octoflat Here

$primary-color:      #268BD2; // Jumbotron, Horizontal Rules, Headings
// $secondary-color:    #2AA198; // Tags, Links, Main Heading, Quote Border
$tertiary-color:     #2AA198; // Hover-over color, Active Page color
$accent-color1:      transparent; // Hover-over background color for tags
$accent-color2:      #2c3e50; // Sub-headings, Date Stamp
$accent-color3:      #DC322F; // Navbar Text, Tag text
$bg-color:          #FFF6E3; // Background
$navbar-color:       #268BD2; // Navbar
// $code-bg-color:      #2C3E50; // Code background
// $quote-color:        #E74C3C; // Quote Color
$text-color:         #556E75; // Body Text
$footer-color:       #999; // Footer